{% macro richText(value) %}'<section xmlns="http://docbook.org/ns/docbook" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:ezxhtml="http://ez.no/xmlns/ezpublish/docbook/xhtml" xmlns:ezcustom="http://ez.no/xmlns/ezpublish/docbook/custom" version="5.0-variant ezpublish-1.0"><para>{{ value }}</para></section>'{% endmacro %}
{% macro richTextRaw(value) %}'<section xmlns="http://docbook.org/ns/docbook" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:ezxhtml="http://ez.no/xmlns/ezpublish/docbook/xhtml" xmlns:ezcustom="http://ez.no/xmlns/ezpublish/docbook/custom" version="5.0-variant ezpublish-1.0">{{ value|raw }}</section>'{% endmacro %}
{% import _self as helpers %}

{# Contents #}
{% if rootLocationPath is null %}
-
    type: content
    mode: create
    content_type: 'novaezsiteaccessfactory_home_page'
    parent_location: 2
    attributes:
        name: {{ name }}
    lang: {{ lang }}
    location_remote_id: "novaezsiteaccessfactory-sa-top-location-{{ siteaccessName }}"
    references:
        -
            identifier: '{{ key }}_home_page_location_id'
            attribute: location_id
        -
            identifier: '{{ key }}_home_page_content_id'
            attribute: content_id
        -
            identifier: '{{ key }}_home_page_subtree'
            attribute: path
-
    type: content
    mode: create
    content_type: 'novaezsiteaccessfactory_site_configuration'
    parent_location: 'reference:{{ key }}_home_page_location_id'
    priority: 999
    attributes:
        name: "Configuration"
        footer: {{  helpers.richText('Footer description') }}
    lang: {{ lang }}
    references:
        -
            identifier: '{{ key }}_configuration_content_id'
            attribute: content_id


-
    type: content
    mode: update
    match:
        content_id: 'reference:{{ key }}_home_page_content_id'
    lang: {{ lang }}
    attributes:
{% if novaezsiteaccessfactory_site.enterprise %}
        page: >- #json
            {
                "layout": "default",
                "zones": [
                    {
                        "id": "",
                        "name": "{{ key }}-Home Page Zone",
                        "blocks": [
                            {
                                "id": "",
                                "type": "quote",
                                "name": "Quote 1",
                                "view": "default",
                                "attributes": [

                                ]
                            },
                            {
                                "id": "",
                                "type": "quote",
                                "name": "Quote 2",
                                "view": "default",
                                "attributes": [
                                    {
                                        "id": "",
                                        "name": "content",
                                        "value": "C'est une Home Page basique"
                                    }
                                ]
                            },                  {
                                        "id": "",
                                        "name": "content",
                                        "value": "Welcome ! Bienvenue sur le PoC"
                                    }
                                ]
                            },
                            {
                                "id": "",
                                "type": "banner",
                                "name": "Banner",
                                "view": "default",
                                "attributes": [
                                    {
                                        "id": "",
                                        "name": "contentId",
                                        "value": "{{ bannerContentId }}"
                                    },
                                    {
                                        "id": "",
                                        "name": "url",
                                        "value": "https://www.novactive.us"
                                    }
                            {
                                "id": "",
                                "type": "contentlist",
                                "name": "Content List",
                                "view": "default",
                                "attributes": [
                                    {
                                        "id": "",
                                        "name": "contentId",
                                        "value": "[reference:{{ key }}_news_content_id]"
                                    },
                                    {
                                        "id": "",
                                        "name": "limit",
                                        "value": "4"
                                    },
                                    {
                                        "id": "",
                                        "name": "contentType",
                                        "value": "news"
                                    }
                                ]
                            },
                            {
                                "id": "",
                                "type": "contentlist",
                                "name": "Content List",
                                "view": "default",
                                "attributes": [
                                    {
                                        "id": "",
                                        "name": "contentId",
                                        "value": "[reference:{{ key }}_agenda_content_id]"
                                    },
                                    {
                                        "id": "",
                                        "name": "limit",
                                        "value": "4"
                                    },
                                    {
                                        "id": "",
                                        "name": "contentType",
                                        "value": "event"
                                    }
                                ]
                            },
                            {
                                "id": "",
                                "type": "contentlist",
                                "name": "Content List",
                                "view": "default",
                                "attributes": [
                                    {
                                        "id": "",
                                        "name": "contentId",
                                        "value": "[reference:{{ key }}_map_content_id]"
                                    },
                                    {
                                        "id": "",
                                        "name": "limit",
                                        "value": "4"
                                    },
                                    {
                                        "id": "",
                                        "name": "contentType",
                                        "value": "place"
                                    }
                                ]
                            },
                            {
                                "id": "",
                                "type": "quote",
                                "name": "Quote 3",
                                "view": "default",
                                "attributes": [
                                    {
                                        "id": "",
                                        "name": "content",
                                        "value": "Sans focus Design"
                                    }
                                ]
                            },
                            {
                                "id": "",
                                "type": "gallery",
                                "name": "Gallery",
                                "view": "default",
                                "attributes": [
                                    {
                                        "id": "",
                                        "name": "contentId",
                                        "value": "82"
                                    }
                                ]
                            }
                        ]
                    }
                ]
            }
{% else %}
        name: "Home Page {{ name }}"
{% endif %}
{% endif %}

{# Groups #}
-
    type: user_group
    mode: create
    parent_group_id: 4 # In the initial db
    name: "{{ name }} Group"
    lang: {{ lang }}
    remote_id: "novaezsiteaccessfactory-sa-top-group-{{ siteaccessName }}"
    references:
    -
        identifier: {{ key }}_parent_site_group_content_id
        attribute: id

-
    type: user_group
    mode: create
    parent_group_id: 'reference:{{ key }}_parent_site_group_content_id'
    name: "Admins"
    lang: {{ lang }}
    references:
    -
        identifier: {{ key }}_admin_site_group_content_id
        attribute: id

{# First Admin #}
{% if user is null %}
-
    type: user
    mode: create
    first_name: "Admin"
    last_name: {{ name }}
    username: {{ adminEmail }}
    email: {{ adminEmail }}
    password: {{ adminPassword }}
    lang: {{ lang }}
    groups: ['reference:{{ key }}_admin_site_group_content_id']

{% else %}
-
    type: user
    mode: update
    match:
        id: {{ user.id }}
    groups: ['reference:{{ key }}_admin_site_group_content_id', {{ groupIds|join(',') }}]

{% endif %}


{# Admin #}
-
    type: role
    mode: create
    name: "Admin {{ name }}"
    policies:
        -
            module: content
            function: '*'
    assign:
        -
            type: group
            ids: ['reference:{{ key }}_admin_site_group_content_id']
            limitations:
                -
                    identifier: Subtree
{% if rootLocationPath is null %}
                    values: ['reference:{{ key }}_home_page_subtree']
{% else %}
                    values: "{{ rootLocationPath }}"
{% endif %}
