{% macro richText(value) %}'<section xmlns="http://docbook.org/ns/docbook" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:ezxhtml="http://ez.no/xmlns/ezpublish/docbook/xhtml" xmlns:ezcustom="http://ez.no/xmlns/ezpublish/docbook/custom" version="5.0-variant ezpublish-1.0"><para>{{ value }}</para></section>'{% endmacro %}
{% macro richTextRaw(value) %}'<section xmlns="http://docbook.org/ns/docbook" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:ezxhtml="http://ez.no/xmlns/ezpublish/docbook/xhtml" xmlns:ezcustom="http://ez.no/xmlns/ezpublish/docbook/custom" version="5.0-variant ezpublish-1.0">{{ value|raw }}</section>'{% endmacro %}
{% import _self as helpers %}

{# Contents #}
{% if rootLocationPath is null %}
-
    type: content
    mode: create
    metadata:
        contentType: 'novaezsiteaccessfactory_static_home_page'
        mainTranslation: {{ lang }}
        creatorId: null
        modificationDate: null
        publicationDate: null
        remoteId: null
        alwaysAvailable: true
        section:
            id: 1
            identifier: standard
    location:
        parentLocationId: 2
        locationRemoteId: "novaezsiteaccessfactory-sa-top-location-{{ siteaccessName }}"
        hidden: false
        priority: 0
        sortField: 2
        sortOrder: 0
    fields:
        -
            fieldDefIdentifier: name
            languageCode: {{ lang }}
            value: "Home Page {{ name }}"

    references:
        -
            name: '{{ key }}_static_home_page_location_id'
            type: location_id
        -
            name: '{{ key }}_static_home_page_content_id'
            type: content_id
        -
            name: '{{ key }}_static_home_page_subtree'
            type: path


-
    type: content
    mode: create
    metadata:
        contentType: 'novaezsiteaccessfactory_site_configuration'
        mainTranslation: {{ lang }}
        creatorId: null
        modificationDate: null
        publicationDate: null
        remoteId: null
        alwaysAvailable: true
    location:
        parentLocationId: 'reference:{{ key }}_static_home_page_location_id'
        locationRemoteId: null
        hidden: false
        sortField: 2
        sortOrder: 0
        priority: 999
    fields:
        -
            fieldDefIdentifier: name
            languageCode: {{ lang }}
            value: "Configuration"
        -
            fieldDefIdentifier: footer
            languageCode: {{ lang }}
            value: {{ helpers.richText('Footer description') }}
    references:
        -
            name: '{{ key }}_configuration_content_id'
            type: content_id
{% endif %}

{# Groups #}
-
    type: user_group
    mode: create
    metadata:
        contentTypeIdentifier: user_group
        mainLanguage: {{ lang }}
        parentGroupId: 4
        remoteId: "novaezsiteaccessfactory-sa-top-group-{{ siteaccessName }}"
        name: "{{ name }} Group"
    fields:
        -
            fieldDefIdentifier: name
            fieldTypeIdentifier: ezstring
            languageCode: {{ lang }}
            value: "{{ name }} Group"
    references:
        -
            name: {{ key }}_parent_site_group_content_id
            type: user_group_id

-
    type: user_group
    mode: create
    metadata:
        parentGroupId: 'reference:{{ key }}_parent_site_group_content_id'
        mainLanguage: {{ lang }}
    fields:
        -
            fieldDefIdentifier: name
            fieldTypeIdentifier: ezstring
            languageCode: {{ lang }}
            value: "Admins"
    references:
        -
            name: {{ key }}_admin_site_group_content_id
            type: user_group_id

{# First Admin #}
{% if user is null %}
-
    type: user
    mode: create
    metadata:
        contentType: user
        username: {{ adminEmail }}
        email: {{ adminEmail }}
        login: {{ name }}
        password: {{ adminPassword }}
        lang: {{ lang }}
    fields:
        -
            fieldDefIdentifier: first_name
            fieldTypeIdentifier: ezstring
            value: "Admin"
        -
            fieldDefIdentifier: last_name
            fieldTypeIdentifier: ezstring
            value: {{ name }}
    groups: ['reference:{{ key }}_admin_site_group_content_id']

{% else %}
-
    type: user
    mode: update
    match:
        field: id
        value: {{ user.id }}
    groups: ['reference:{{ key }}_admin_site_group_content_id', {{ groupIds|join(',') }}]

{% endif %}


{# Admin #}
-
    type: role
    mode: create
    metadata:
        identifier: "Admin {{ name }}"
    policies:
        -
            module: content
            function: '*'
    assign:
        -
            type: group
            ids: ['reference:{{ key }}_admin_site_group_content_id']
            limitations:
                -
                    identifier: Subtree
{% if rootLocationPath is null %}
                    values: ['reference:{{ key }}_static_home_page_subtree']
{% else %}
                    values: "{{ rootLocationPath }}"
{% endif %}
