{% set content = block('content') %}
{% set rightbar = block('rightbar') ?? '' %}
{% set leftmenu = block('leftmenu') ?? '' %}

{% embed '@EzPlatformAdminUi/layout.html.twig' %}
    {% trans_default_domain "novaezsiteaccessfactory" %}
    {% block breadcrumbs %}
        <ol class="breadcrumb px-4">
            <li class="breadcrumb-item">
                Nova eZ SiteAccess Factory Admin
            </li>
            <li class="breadcrumb-item active">
                {{ "site.configuration.management"|trans }}
            </li>
        </ol>
    {% endblock %}
    {% block page_title %}
        <div class="ez-page-title pt-3 pb-4 px-4">
            <h1 class="ez-page-title__content-item">
                {{ "site.configuration.management"|trans }}
            </h1>
        </div>
    {% endblock %}
    {% block content %}
        <div class="novaezsiteaccessfactory-app row">
            {% if leftmenu is not empty %}
                <div class="container-fluid">
                    <div class="content row">
                        <div class="col-2 sidebar">
                            {{ leftmenu|raw }}
                        </div>
                        {% if rightbar is empty %}
                            <div class="col-10 innercontent">
                                {{ content|raw }}
                            </div>
                        {% else %}
                            <div class="col-9 innercontent">
                                {{ content|raw }}
                            </div>
                            <div class="col-1 ez-context-menu">
                                {{ rightbar|raw }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% else %}
                {% if rightbar is empty %}
                    <div class="container-fluid ez-main-container">
                        <div class="innercontent">
                            {{ content|raw }}
                        </div>
                    </div>
                {% else %}
                    <div class="container-fluid">
                        <div class="content row">
                            <div class="offset-1 col-10 innercontent">
                                {{ content|raw }}
                            </div>
                            <div class="col-1 ez-context-menu">
                                {{ rightbar|raw }}
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    {% endblock %}
{% endembed %}
